
:root{
  --text-color: #681F42;
  --soft-mint: #C67154;
  --cream: #ECCBB5;
  --light-cream: #fdfdfd;
}


body {
  font-family: Arial, sans-serif;
  background-color: #F9F7EB;
  color: var(--text-color);
  background-image: url('../images/bg.png');
}

/* ===== Main Layout ===== */
main {
  padding: 90px;
}

/* ===== Main Container ===== */
.add {
  max-width: 1000px;
  margin: auto;
  background-color: #f9f6f1;
  padding: 32px 56px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/* ===== Headings ===== */
h1 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: var(--text-color);
}

h1::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: var(--soft-mint);
  margin-top: 8px;
  border-radius: 10px;
}

/* ===== Labels ===== */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 14px;
  color: var(--text-color);
}

/* ===== Inputs ===== */
input[type="text"],
input[type="file"],
select,
textarea {
  width: 100%;
  padding: 10px 12px;
  border-radius: 12px;
  border: none;
  font-size: 14px;
  background-color: var(--light-cream);
  color: var(--text-color);
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

textarea {
  resize: vertical;
  min-height: 90px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0 6px 14px rgba(0,0,0,0.12);
}

/* ===== Ingredient Rows ===== */
.ingredient-row {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.ingredient-row input {
  flex: 1;
}

/* ===== Buttons ===== */
button {
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

/* secondary button */
.secondery {
  background-color: transparent;
  color: var(--text-color);
  border: 2px dashed var(--soft-mint);
  padding: 8px 14px;
  border-radius: 12px;
  margin-top: 8px;
}

.secondery:hover {
  background-color: var(--soft-mint);
  color: var(--light-cream);
  transform: translateY(-2px);
}

/* submit button */
.submit {
  width: 100%;
  background-color: var(--text-color);
  color: var(--light-cream);
  border: none;
  padding: 14px;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.submit:hover {
  background-color: var(--soft-mint);
  transform: translateY(-4px);
}

/* ===== Media ===== */
.RecipePhoto {
  width: 180px;
  height: auto;
  border-radius: 12px;
  margin-top: 10px;
  background-color: var(--light-cream);
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.current-video {
  width: 260px;
  border-radius: 12px;
  margin-top: 10px;
  background-color: var(--light-cream);
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
