

body{
    font-family: Arial, sans-serif;
    background-color: #F9F7EB;
    background-image: url('../images/bg.png');
    color: #681F42;
}


.AdminPage main{
    margin: 90px;
    background-color: #f9f6f1;
    padding: 30px;
    border-radius: 12px;
}


.AdminTop{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.WelcomeAdmin{
    font-size: 40px;
    font-weight: bold;
}

.LogOutAdmin{
    float: right;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: #fdfdfd;
    background-color: #681F42;
    padding: 10px 20px;
    border-radius: 20px;
}

.LogOutAdmin:hover{
    background-color: #C67154;
}


.AdminCard{
    background-color: #fdfdfd;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 12px;
}


.AdminPage h2{
    font-size: 28px;
    margin-bottom: 15px;
}


.RecipeTable{
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

.RecipeTable th{
    background-color: #681F42;
    color: #fdfdfd;
    padding: 12px;
    text-align: center;
}


.RecipeTable td{
    background-color: #ffffff;
    padding: 12px;
    text-align: center;
}


.BlockedTable td{
    background-color: #fafafa;
    border: 1px solid #eee;
}


.RecipeURL{
    font-size: larger;
    text-decoration: none;
    font-weight: bolder;
    color: #681F42;
    border-radius: 30px;
}

.RecipeURL:hover{
    color: #C67154;
    text-decoration: underline;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}


.CreatorImg{
    width: 100px;
    border-radius: 50%;
}


.AdminBtn{
    border: none;
    padding: 8px 16px;
    background-color: #681F42;
    color: #fdfdfd;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.AdminBtn:hover{
    background-color: #C67154;
}
