/* this is the main css file used across all pages ( for the header and footer and make sure the general look is the same) */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
 }
 body{
    background-color: #F7F4EF;
    min-height: 980px;
    min-width: 980px;
    display: flex;
    flex-direction: column;
    background-image: url('../images/bg.png');
     text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
 }
    header{
        background-color: #681f42;
        background-image: url("../images/food.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left center;

        padding:15px 60px
    }
    .logoimg{
        display: flex;
        align-items: center;
        width: auto;
        height: 100px;
        vertical-align: middle;
        margin-right: 10px;
        background-color:#ede7e3;
        border-radius: 50%;
;
    }
    .logo{
        display: flex;
        align-items: center;
        text-shadow: #1F1F1F 2px 2px 4px;
        font-family: 'Libre Baskerville', serif;
        font-size: 25px;
        font-weight: bold;
    }
    .topnav {
        color:#F5EFE6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        display: flex;
        align-items: center;
    }
    nav ul{
        list-style-type: none;
        display: flex;
        gap: 20px;
    }
    nav a{
        font-family: Arial, sans-serif;
        color: #F5EFE6;
        font-weight: 700;
        text-decoration: none;
        font-size: 18px;
        transition: transform 0.2s ease, opacity 0.2s ease;
    }
    nav a:hover{
        transform: scale(1.1);
        opacity: 0.8;
    }
    main{
        flex: 1;
        padding: 40px 60px;
    }
 
    footer{
        display: static;
        background-color: #681f42;
        color: #F5EFE6;
        text-align: center;
        padding: 10px 0;
        margin-top: auto;
    }
    .copy{
        margin: 0;
    }

.breadcrumb {
  padding: 10px 40px;
  font-size: 14px;
  color: #666;
  background:#fdfdfd;
  border-bottom: 1px solid var( --ColorD);
}
.breadcrumb a {
  color: #681F42;
  text-decoration: none;
}
.breadcrumb a:hover {text-decoration: underline;}
