
/* this is the css file for the user page only */
:root{
    --text-color: #681F42;
    --soft-mint:#C67154;
    --cream:#ECCBB5;
    --light-cream:#fdfdfd;
    --argan:#0B4942;
    --ROSE-VALLEY:#913C5E;
    --MARRAKECH:#618C72;
}
body {
    font-family: Arial, sans-serif;
    background-color: #F9F7EB;
    color: var(--text-color);
    background-image: url('../images/bg.png');
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
.UserPage main {
    margin: 90px;
    background-color: #f9f6f1;
    color: var(--text-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    border-radius: 12px;
}

.UserPage .WelcomeUser {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 10px;
    
}
.UserPage h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.UserPage h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color:var(--ROSE-VALLEY);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
.UserInfo #UserPersonalInfo h2{
    font-size: 25px;
}
.UserInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.UserInfo div{
    width: 48%;
}

.UserPage .UserImg {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 120px;
    height: auto;
    border-radius: 50%;
    background-color: var(--soft-mint);
}

.UserPage .LogOutUser {
    float: right;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: var(--light-cream);
    background-color: var(--text-color);
    padding: 10px 20px;
    border-radius: 20px;
    transition: .3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.UserPage .LogOutUser:hover {
    background-color: var(--soft-mint);
    transform: translateY(-4px);
}

.UserPage #UserPersonalInfo , .UserPage #User-MyRecipes{
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    background-color: var(--light-cream);
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    border-radius: 12px;
    transition: 0.3s;
    position: relative;
    padding: 25px 30px;
    min-height: 160px;
}

.UserPage #UserPersonalInfo {
    position: relative;
    padding: 25px 140px 25px 25px;
    min-height: 150px;
    border-radius: 12px;
    background-color: var(--light-cream);
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}


.UserPage .RecipeURL{
    font-size: 25px;
    text-decoration: none;
    font-weight: bolder;
    color: var(--text-color);
    transition: .3s;
    border-radius: 30px;
}

.UserPage .RecipeURL:hover {
    color:var(--soft-mint);
    text-decoration: underline;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.UserPage #CategoryFilter {
    border:none;
    margin-bottom: 15px;
    padding: 9px;
    float: right;
    font-size: 16px;
    font-weight: bold;
    color: var(--light-cream);
    background-color: var(--text-color);
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    border-radius: 12px;
    transition: 0.3s;
}
.UserPage #CategoryFilter:hover {
    background-color: var(--soft-mint);
    
}
.UserPage .RecipeTable  {
    width: 100%;
    font-size: 20px;
    border-collapse: separate;
    border-spacing: 0 20px;
    border-radius: 12px;
    transition: 0.3s;

}

.UserPage .RecipeTable  tr {
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    border-radius: 12px;
    transition: 0.3s;
}

.UserPage .RecipeTable tr :first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.UserPage .RecipeTable tr :last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.UserPage .RecipeTable tr:not(:first-child):hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.12);
}
.UserPage .RecipeTable tr:not(:first-child) {
    background-color: #fdfdfd;
    height: 100px;
}

.UserPage .RecipeTable td{
    padding: 8px;
    text-align: center;
    height: auto;
    width: auto;
    font-size: 20px;
    font-weight: bold;


}

.UserPage .RecipeTable th {
    background-color: var(--text-color);
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--light-cream);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 14px 10px;
    position: sticky;
    top: 1px;
    z-index: 9;
}

.UserPage .HeartIcon {
    font-size: 50px;
    color: var(--ROSE-VALLEY);
    margin-left: 5px;
    width: 20px;
    text-decoration: none;
    transition: .3s;
}
.UserPage .HeartIcon:hover {
    color: var(--soft-mint);
}

.RecipeImg{
    width: 200px;
    height:auto;
    border-radius: 10px;
}

.UserPage .CreatorImg{
    width: 150px;
    height: auto;
    border-radius: 50% !important;
    margin: 8px;
    margin-top: 2px;
    margin-bottom: 10px;
}



