
/* this is the css file for the user page only */


:root{
    --text-color: #724539;
    --soft-mint:#A7D8BD;
    --cream:#F9F7F2;
    --accent-gold: #f6c757;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--cream);
    color: var(--text-color);
}
.UserPage main {
    margin: 90px;
    background-color: #efebe4;
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
}

.UserPage .WelcomeUser {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.UserPage .LogOutUser {
    float: right;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: var(--cream);
    background-color: var(--text-color);
    padding: 10px 20px;
    border-radius: 20px;
    transition: .3s;
}

.UserPage .LogOutUser:hover {
    background-color: var(--soft-mint);
}

.UserPage #UserPersonalInfo , .UserPage #User-MyRecipes{
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    background-color: #f9f9f9;
}
.UserPage #UserPersonalInfo {
    position: relative;
}

.UserPage .UserImg {
    position: absolute;
    right: 30px;
    top: 30px;
}

.UserPage .RecipeURL{
    text-decoration: none;
    font-weight: bolder;
    color: var(--text-color);
    transition: .3s;
}
.UserPage .RecipeURL:hover {
    color:var(--accent-gold)
}

.UserPage #CategoryFilter {
    margin-bottom: 15px;
    padding: 9px;
    border-radius: 10px;
    float: right;
    font-size: 16px;
    font-weight: bold;
    color: var(--cream);
    background-color: var(--text-color);
}
.UserPage .RecipeTable  {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}


.UserPage .RecipeTable td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.UserPage .RecipeTable th {
    border: 1px solid black;
    padding: 10px;
    background-color: #f2f2f2;
    text-align: center;
}

.UserPage .HeartIcon {
    font-size: 30px;
    color: #f29898;
    margin-left: 5px;
    width: 20px;
    text-decoration: none;
    transition: .3s;
}
.UserPage .HeartIcon:hover {
    color: #f17070;
}
